@font-face{
    font-family:'Gilroy-Black';
    font-display:swap ;
    src: url('../Font/gilroy/Gilroy-Black.ttf');
}
@font-face {
    font-family: 'Gilroy-Light';
    font-display: swap;
    src: url('../Font/gilroy/Gilroy-Light.ttf');
}

