.footer{
    padding: 40px 0;
    background-color:#030328; 
    /* width:1560px; */
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color:#957EFF;
}
.footer .social a{
    font-size: 34px; 
    color:rgba(255, 255, 255, 1);
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.list{
    text-align: center;
    color: rgba(149, 126, 255, 1);
}
.footer ul li a{
    text-decoration: none;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.copyrighttext{
    color: #ffffff;
    padding-left: 50px;
    opacity: 0.8;
}
.copyright{
    float: right;
    padding-right: 90px;
}
@media (max-width:320px){
    footer{
        padding: 40px;
    }
    /* footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat();
        grid-gap: 5px;*/
    
    .copyrighttext{
        padding: 20px 40px 30px;
    }
}
@media (max-width:320px){
    /* footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px;

    }    */
}