.navbagcol {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler.custom-toggler {
    background-color: rgb(198, 191, 191);
}

.button {
    border: 1px solid #B535F6;
    color: #ffffff;
    background-color: #B535F6;
    border-radius: 30px;
}