.Button {
    border: 1px solid #B535F6;
    background-color:#B535F6;
    color: #FFFFFF;
    height: 40px;
    border-radius: 30px;
    font-weight:bold ;
}
.homecontent{
    font-weight:900px;
}
.plybtn {
    border: 1px solid white;
    Height: 39px;
    border-radius: 30px;
    background: transparent;
    color: #FFFFFF;
    font-weight: bold;
}
.cus_plyBtn {
    font-size: 80px;
    color: white;
    display: grid;
    place-items: center;
    height: 47.4px;
    width: 47.4px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(#4A15C5, #7552FB);
    color: pointer;
}
.cus_plyBtn::before {
    content: "";
    display: inline-block;
    border-left: 0.2em solid;
    border-top: 0.15em solid transparent;
    border-bottom: 0.15em solid transparent;
    margin-right: -0.08em;
}
.plybtn {
    border: 1px solid white;
    Width: 176px;
    Height: 39px;
    border-radius: 30px;
    background: transparent;
}



@media only screen and (min-width:320px) {
       .homepixcel {
       width: 100px;
    }
  }
@media only screen and (min-width:768px) {
    .homepixcel {
    width: 250px;
 }
}
@media only screen and (min-width:1024px) {
    .homepixcel {
    width: 500px;
 }
}
@media only screen and (min-width:1440px) {
    .homepixcel {
    width: 700px;
 }
}

  
/* @media screen and (max-widht:600px){
    .homepixcel img{
        width: 330px; 
        
    }
} */
















