.theme-bg-color{
    background-color: rgba(25, 25, 25, 1)!important;
    color:rgba(255, 255, 255, 1);
    
}
.modal-title {
    font-size: 30px;
}

.signinText{
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    opacity: .9;
}
.signin-input {
    height: 50px;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}
.modal-title{
    font-weight: bold;
}

.signinbutton {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        background-color:  rgba(136, 63, 197, 1);
        color: white;
        Width:201px;
        Height:45px;
        border-radius: 50px;      
}
.Signintext1{
    color:rgba(192, 146, 231, 1);
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}
 .socialicon a{
    font-size: 24px; 
    color:rgba(255, 255, 255, 1);
    border: 1px solid white;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 5px 5px;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 26px 0;
    background-color: #ffffff;
}
.line::before{
    content: 'OR';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:rgba(25, 25, 25, 1);
    color: #ffffff;
    padding: 0 15px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 25px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-150%);
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
}


